<div class="jumbotron animated fadeIn fast">
<h1 class="display-4"> Lola Shop</h1>
<p class="lead">This is a pet shop website</p>
<hr class="my-4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto similique in deleniti quis earum magnam
    aspernatur debitis doloribus, dolorem iste dolores veniam ipsa dolorum enim repellat dignissimos nihil assumenda.
    Dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit autem ipsam laudantium blanditiis ipsum
    placeat vitae cupiditate dolor aut. Exercitationem corrupti hic, quo obcaecati dolores dolorum! A repellendus


</div>
